@font-face {
  font-family: "digitalt";
  src: url(assets/fonts/digitalt.ttf);
}
*{
  box-sizing: border-box;
}


body{
 font-family: digitalt;
 color: #FEFAE0;
 margin: 0;
 padding: 0;
}
h1{
    text-align: center;
}

/*Navbar and contect */
.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}
.flex-items:nth-child(1) {
  display: flex;
  justify-content: right;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  color: #FEFAE0;
  background-color: #283618;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  z-index: 1000;
  align-items: center;
  padding: 0 10px;
  
}
.flex-items:nth-child(2) {
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  color: #606C38;
}